    /* Make this ✿pretty✿ css */

    /* Font Import */
    @font-face{
        font-family: "ABC ROM Variable";
        src: url("/assets/fonts/ABCROMVariable-Trial.woff") format("woff"), 
                url("/assets/fonts/ABCROMVariable-Trial.woff2") format("woff2");
        font-weight: 300 900;
        /* Slant from 16 to 0  -> font-style: oblique xdeg*/
    }

    @font-face{
        font-family: "ABC ROM Mono Variable";
        src: url("/assets/fonts/ABCROMMonoVariable-Trial.woff") format("woff"), 
                url("/assets/fonts/ABCROMMonoVariable-Trial.woff") format("woff2");
        font-weight: 300 900;
        /* Slant from 16 to 0  -> font-style: oblique xdeg*/
    }

    @font-face{
        font-family: "ABC ROM Extended Variable";
        src: url("/assets/fonts/ABCROMExtendedVariable-Trial.woff") format("woff"), 
                url("/assets/fonts/ABCROMExtendedVariable-Trial.woff") format("woff2");
        font-weight: 300 900;
        /* Slant from 16 to 0  -> font-style: oblique xdeg*/
    }

    /* I forgore how to variable font (|||❛︵❛。)  */
    /* Okay, looked it up – ugh I whish Arc had the same typeface inspector feature as firefox. Seeing all variable font properties at once is soooo helpful */







    :root{
        /* ToDo: now that it is a universal css and not in <style> anymore, rember to adapt all variables so they fit to the corresponding chapters */

        /* Spacers and Spacing */
        --indent: 2rem;  /* spacing for text indent after a paragraph */
        --margin: 26rem; /* base width of the margins */


        /* Transitions */
        --fontTransition: font-weight 750ms ease;

        /* Colors */

        /* Chapter 1:  How did I end up here ?*/
        --chapter1Color: gainsboro;
        --chapter1Accent: peachpuff;
        --font1Color: blue; 

        --chapter2Color: darkseagreen;
        --chapter2Accent: darkkhaki;
        --font2Color: DarkOliveGreen;

        --chapter3Color: rosybrown;
        --chapter3Accent: orangered;
        --font3Color: seashell;
     
        /* Alternative Color Schemes */
            

            /* --chapterColor: lightcyan;
            --chapterAccent: rgb(204, 157, 96);
            --fontColor: cadetblue; */
            
            
            /* --chapterColor: dodgerblue;
            --chapterAccent: oldlace;
            --fontColor: blue; */
        
            /* --chapterColor: blanchedalmond;
            --chapterAccent: floralwhite;
            --fontColor: black; */
        

            /* --chapterColor: oldlace;
            --chapterAccent: whitesmoke;
            --fontColor: blue; */
        
            /* --chapterColor: lightblue;
            --chapterAccent: blanchedalmond;
            --fontColor: gray; */
            
            
            
            /* --chapterColor: lightblue;
            --chapterAccent: blanchedalmond;
            --fontColor: gray;  */

            /* --chapterColor: #1a4b9f; 
            --chapterAccent: #2974cf;
            --fontColor: #b4dde8; */

            /* --chapterColor: #403424; 
            --chapterAccent: #dea85d;
            --fontColor: #b4dde8; */
            
            
           
        
    }





/* * {
    border: 1px solid whitesmoke;
} */




    /* 01 Setup */
    /* -------- */


    body {
        padding: 0;
        margin: 0;

        font-family:"ABC ROM Variable", Helvetica, Arial, sans-serif;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 300;

        /* Past Stylings */
        /* background-image: linear-gradient(var(--chapterColor), var(--chapterAccent), var(--chapterColor)) */
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        
    }

    table, tr{
        padding: 0;
        margin: 0;
        
        /* Delete space between rows and columns */
        border-spacing: 0;
        border-collapse: collapse;   
    }


    /* Layout helpers */

    /* Space from Top and Bottom of the page */
    .spacer-table{
        padding: 5rem 0rem !important;
        white-space: wrap;
    }


    .align-at-bottom{
        align-content: flex-end;
    }



    /* Cramped State */

    .stretch-messages{
        position: fixed;
        top: calc(50vh + 5px);
        left: 50vw;
        transform: translate( -50%,  -50%);

        font-family:"ABC ROM Variable", Helvetica, Arial, sans-serif;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;

        user-select: none;
        pointer-events: none;

        color: var(--fontColor);
    }
 
    #cramped,  #stretch{
        opacity: 0;
        transition: opacity 500ms ease;
    }

    /* #stretch{
        text-align: right;
    } */



    @media screen and (max-width: 1500px)  {
        .text{
           opacity: 0;
           user-select: none;
           pointer-events: none;   
        } 

        #cramped{opacity: 1;}
    }

    @media screen and (max-width: 1350px)  {
        #stretch{opacity: 1;}

        .comment, .footnote{
            opacity: 0;
            user-select: none;
            pointer-events: none; 
        }
    }



    /* 02 General Typography */
    /* --------------------- */

    h1{
        font-family:"ABC ROM Variable", Helvetica, Arial, sans-serif;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;

        animation: headlineAnimation 30s ease infinite ;
    }

    h2{
        font-family:"ABC ROM Variable", Helvetica, Arial, sans-serif;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;
        text-align: right;

        animation: headlineAnimation 30s ease infinite ;
    }

    @keyframes headlineAnimation {
        0%, 100%{font-weight: 400;}
        50% {font-weight: 450;}
    }



    p{
        padding: 0;
        margin: 0;

        hyphens:auto; 
        hyphenate-limit-chars: 10 4 4;
    }


    /* Textbody */

    .text{

        width: 700px !important;
        padding: 0 3rem;

        transition: opacity 500ms ease;
        
        /* Past Stylings */
        /* border-left: 1px solid var(--chapterAccent); */
        /* border-right: 1px solid var(--chapterAccent); */
        /* background-image: linear-gradient(90deg, transparent, var(--chapterAccent), transparent); */
        /* background-image: linear-gradient(90deg, var(--chapterAccent), transparent, var(--chapterAccent)); */
    }


    .indent {
        /* spacing for text indent after a paragraph */
        content: "";
        display: inline-block;
        width: var(--indent);
    }

    code{
        font-family:"ABC ROM Mono Variable", 'Courier New', Courier, monospace;
        font-variant-ligatures: none;
        font-size: 1.3rem;
        letter-spacing: .05em;
        line-height: 1.5rem;
    }

    .code-block{
        display: block;
    }

    .code-block:nth-of-type(odd){padding: 1rem 0rem;}
    .code-block:nth-of-type(even){padding-bottom: 1rem;}


    ul{
        /* list-style-position: inside;  */
        padding-left:1rem;
    }
    li{
        padding-bottom: .5rem;
    }


    blockquote{
        padding-left: 4rem;
        margin: 1rem 0;
    }


    /* Links */

    .text a{
        font-family:"ABC ROM Extended Variable", Helvetica, Arial, sans-serif;
        transition: var(--fontTransition);
    }

    .text a:hover{
        font-weight: 600;
    }

 
    .comment a{
        transition: var(--fontTransition);
    }

    .comment a:hover{
        font-weight: 800;
    }


    .footnote a{
        line-break: anywhere;
        transition: var(--fontTransition);
    }

    .footnote a:hover{
        font-weight: 400;
    }


    .link-nav a{
        
        transition: var(--fontTransition);

        /* Past Stylings */
        /* font-family:"ABC ROM Extended Variable", Helvetica, Arial, sans-serif; */
        /* text-decoration: none; s*/
    }

    .link-nav a:hover{
        font-weight: 500;
    }



    /* Italic */

    .text em{
        font-family:"ABC ROM Extended Variable", Helvetica, Arial, sans-serif;
        font-style: oblique 16deg;
    }

    .comment em{
        font-style: oblique 16deg;
    }

    .footnote em{
        font-style: oblique 16deg;
    }
    .footnote em.not-source{
        font-family:"ABC ROM Extended Variable", Helvetica, Arial, sans-serif;
    }







    /* 03 Syling for Margin Elements – Comments and Footnotes */
    /* ------------------------------------------------------ */

    td{     
        align-content: flex-start;  
    }

    .comment{
        min-width: var(--margin) !important;
        max-width: calc( var(--margin) + 10rem) !important;
        margin: 0rem 3rem;
        padding: 1rem;
        
        font-family:"ABC ROM Mono Variable", 'Courier New', Courier, monospace;
        font-variant-ligatures: none;
        letter-spacing: .05em;
        line-height: 1.5rem;

        transition: opacity 500ms ease;

        border-radius: .3rem;   
    }

    .comment p{
        /* this used to have a funtion, rip */

        /* Past Stylings */
        /* transition: border 750ms ease , background 750ms ease ;*/
        /* border: 1px dashed darkturquoise; */
        /* background-image: transparent !important; */
        /* background-image: radial-gradient(orangered,transparent, darkturquoise,transparent, transparent) !important; */
        /* box-shadow: inset 0px 0px 20px darkturquoise; */
    }

    .comment p::before{
        content:"<!--";
       
        padding-inline-start: .5rem;
        padding-inline-end: .5rem;
        border-radius: 1rem;

    }

    .comment p::after{
        content:"-->";

        padding-inline-start: .5rem;
        padding-inline-end: .5rem;
        border-radius: 1rem;
    }

    .comment-link{
        display: inline-block;

        height: 1rem;
        width: 3rem;
        border-radius: 1rem;
    }

    .comment, .comment-link {transition: --stop 750ms ease, width 750ms ease;}





    .footnote{   
        min-width: var(--margin) !important;
        max-width: calc( var(--margin) + 10rem) !important;
        margin: 0rem 3rem;

        font-size: .75em;
        line-height: 1.25em;
        vertical-align: bottom;

    }



    .footnote p{
        padding-top: 1rem;
        border-radius: 1rem;
    }



    .footnote-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;

        width: 2rem;            
        height: 1rem;
        border-radius: 1rem;

        font-size: .8rem;
    }





    .link-nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 3rem;
    }




    /* comment-link styles */

    /* To enable the transition of gradients */
    @property --stop {
        syntax: '<percentage>';
        inherits: false;
        initial-value: 60%;
        }


    /* Hover with js for all elements with the same of the .cNumber class */
    .connected-hover{
        --stop: 150% !important;
        width: 6rem;
    }


    /* Custom styling for every comment-link */

    /* Chapter 1:  How did I end up here ?*/
    .c1 {
        border: 1px dashed orangered;
        background-image: radial-gradient(aliceblue, transparent var(--stop));
        --stop: 60%;
    }

    .c2{
        border: 1px dashed azure;
        background-image: radial-gradient(darksalmon, transparent var(--stop));
        --stop:60%;
    }

    .c3{
        border: 1px dashed floralwhite;
        background-image: radial-gradient(thistle, transparent var(--stop));
        --stop:60%; }

    .c4{
        border: 1px dashed mediumaquamarine;
        background-image: radial-gradient(lightsteelblue, transparent var(--stop));
        --stop:60%; 
    }

   
    .c5{
        border: 1px dashed orange;
        background-image: radial-gradient(olive, transparent var(--stop));
        --stop:60%; 
    } 

    .c6{
        border: 1px dashed mediumseagreen;
        background-image: radial-gradient(orangered, transparent var(--stop));
        --stop:60%; 
    }

    .c7{
        border: 1px dashed black;
        background-image: radial-gradient(chartreuse, transparent var(--stop));
        --stop:60%; 
    }

    .c8{
        border: 1px dashed blue;
        background-image: radial-gradient(papayawhip, transparent var(--stop));
        --stop:60%; 
    }


    /* Chapter 2:  What are you dear comment*/

    .c9{
        border: 1px dashed aqua;
        background: radial-gradient(deeppink, transparent var(--stop)); 
        --stop:60%; 
    }

    .c10{
        border: 1px dashed orchid;
        background: radial-gradient(lightgoldenrodyellow, transparent var(--stop)); 
        --stop:60%; 
    }

    .c11{
        border: 1px dashed palegoldenrod;
        background: radial-gradient(deepskyblue, transparent var(--stop)); 
        --stop:60%; 
    }



    /* Chapter 3: A look into the past */


    .c12{}



    /* 04 Chapter Colors */
    /* ----------------- */

    .how-did-i-end-up-here {
        background-color: var(--chapter1Color);
        background-image: radial-gradient(var(--chapter1Accent), var(--chapter1Color) 70%);
    }

    .how-did-i-end-up-here * {
        color: var(--font1Color);
    }

    .how-did-i-end-up-here .footnote-link{
        background-color: var(--chapter1Color);
        border: 1px var(--font2Color) solid;
    }





    .what-are-you-dear-comment {
        background-color: var(--chapter2Color);
        background-image: radial-gradient(var(--chapter2Accent), var(--chapter2Color) 120%);
    }

    .what-are-you-dear-comment .text{
        background-image: linear-gradient(90deg, transparent, var(--chapter2Accent), transparent);
        /* background-image: linear-gradient(90deg, var(--chapter2Accent), transparent, var(--chapter2Accent)); */
    }

    .what-are-you-dear-comment * {
        color: var(--font2Color);
    }

    .what-are-you-dear-comment .footnote-link{
        background-color: var(--chapter2Color);
        border: 1px var(--font2Color) solid;
    }





    
    .a-look-into-the-past{
        background-color: var(--chapter3Color);
      
    }

    .subchapter-one{
        background-image: radial-gradient(gray, transparent 70%)
    }

    .subchapter-two{
        background-image: radial-gradient(burlywood, transparent 70%)
    }

    .subchapter-three{
        background-image: linear-gradient(transparent, orangered 70%, transparent )
    }

    .subchapter-three .text{
        background-image: linear-gradient(90deg, transparent, var(--chapter3Color), transparent )
    }





    .subchapter-four{
        background-image: radial-gradient(lightsalmon, transparent 70%)
    }

    .a-look-into-the-past * {
        color: var(--font3Color);
    }

    .a-look-into-the-past .footnote-link{
        background-color: var(--chapter3Color);
        border: 1px var(--font3Color) solid;
    }







  